@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&family=Patrick+Hand&display=swap');

body {
    font-family: 'Fredoka One', cursive;
}

.model-container {
    height: calc(100vh - 23px);
    width: calc(100vw - 23px);
    position: absolute;
    display: none;
    justify-content: center;
    align-items: center;
}

.model-body {
    z-index: 90;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 0 5000px rgba(0,0,0,0.4);
    width: 500px;
    height: 500px;
    position: relative;
    padding: 10px;
    box-sizing: border-box;
}

.model-open {
    display: flex;
}

.settings {
    position: fixed;
    top: 10px;
    right: 10px;
    height: 50px;
    width: 50px;
    cursor: pointer;
}

.close {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
}

.page-container {
    height: 95vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.instrution-container {
    font-size: 2.2rem;
}

.question-container {
    font-size: 1.5rem;
    padding: 3.5rem 0;
    font-family: 'Patrick Hand', cursive;
}

.answer-container {
    display: flex;
    justify-content: center;
}

.answer-input {
    width: 100%;
    font-size: 1.5rem;
    padding: 0.2rem 0.5rem;
    border: solid rgb(178, 178, 178) 1px;
    border-radius: 6px;
    font-family: 'Patrick Hand', cursive;
}

.answer-button {
    margin-left: 0.5rem;
    border-radius: 6px;
    border: solid rgb(178, 178, 178) 1px;
    background-color: rgb(127, 200, 19);
    color: #fff;
    font-size: 1.1rem;
    font-family: 'Fredoka One', cursive;
    padding: 0.5rem 1rem;
    cursor: pointer;
}

.message {
    position: absolute;
    margin-top: 0.5rem;
}

.correct {
    color: rgb(27, 170, 27);
}

.incorrect {
    color: rgb(228, 0, 0);
}
